---
import destinations from "../../public/destination.json";
import DestinationNav from "./DestinationNav.astro";

const { id } = Astro.params;
const destination = destinations[id];
---

{
  (
    <section class="screen">
      <h2 class="heading-5 mt-16 mb-2 mdd:m-0 mdd:absolute mdd:left-8 mdd:top-20">
        01 PICK YOUR DESTINATION
      </h2>
      <div class="w-full h-full mdd:mt-12 max-w-lg grid grid-rows-2 place-items-center gap-4 mdd:grid-cols-2 mdd:grid-rows-none mdd:h-2/3  mdd:max-w-7xl">
        <img
          class="w-4/5 h-4/5 object-contain"
          src={destination.img}
          alt=""
        />

        <article class="px-5 flex flex-col items-center">
          <DestinationNav idParams={id} />
          <h5 class="heading-3 text-center mb-2 mt-4">
            {destination.name}
          </h5>
          <p class="body-text text-center mb-4">
            {destination.description}
          </p>

          <p class="subheading-2 text-center mb-2">
            AVG. DISTANCE
          </p>
          <h5 class="heading-4 text-center mb-4">
            {destination.distance}
          </h5>

          <p class="subheading-2 text-center mb-2">
            EST. TRAVEL TIME
          </p>
          <h5 class="heading-4 text-center mb-4">
            {destination.travelTime}
          </h5>
        </article>
      </div>
    </section>
  )
}

<style>
  section {
    background-image: url("https://res.cloudinary.com/jurbina/image/upload/v1694194534/space-tourism/destination/background-destination-mobile_a45tsp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* SM */
  @media (min-width: 768px) {
    section {
      background-image: url("https://res.cloudinary.com/jurbina/image/upload/v1694194534/space-tourism/destination/background-destination-tablet_khbqqi.jpg");
    }
  }

  /* LG */
  @media (min-width: 900px) {
    section {
      background-image: url("https://res.cloudinary.com/jurbina/image/upload/v1694194538/space-tourism/destination/background-destination-desktop_smixwy.jpg");
    }
  }
</style>
